body {
    background: linear-gradient(to right, #434547, #403142, #383C4A);
    background-size: 100%;
    margin: 0;
    padding: 80px 0 0 0;
    overflow: hidden;
}

#container {
    background: url("/public/img/Background.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

#box {
    height: 490px;
    width: 555px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    margin-top: -270px;
    left: 50%;
    margin-left: -275px;
    overflow: hidden;
}

#logo {
    width: 140px;
    height: 140px;
    margin: auto;
    display: block;
    margin-top: 80px;
}

.button-item {
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 90px;
    color: white;
    height: 60px;
    border-radius: 30px;
    line-height: 45px;
    font-size: 28px;
    font-weight: 300;
}

.button-item:hover {
    color: #EFEFEF;
}

#upload-button {
    background-color: #0DE2FF;
}

#cancel-button {
    background-color: #E059F5;
}

.progress {
    height: 25px;
    border-radius: 0px;
    margin-top: 96px;
}

.progress span {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: #0de2ff;
    font-size: 25px;
    font-weight: 300;
}

.progress-bar {
    background-color: #0de2ff;
}
